---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/109445?api_key=<TMDB_API_KEY>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"92e1697e506d653d46501bc56e226a39"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/rj58WQ9ImI0mYDptXdM7euX1Wjt.jpg","belongs_to_collection":{"id":386382,"name":"Frozen
        Collection","poster_path":"/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg","backdrop_path":"/s3vdRkK7KZFUDC8HEJo2GRKyVhW.jpg"},"budget":150000000,"genres":[{"id":16,"name":"Animation"},{"id":10751,"name":"Family"},{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"}],"homepage":"http://movies.disney.com/frozen","id":109445,"imdb_id":"tt2294629","origin_country":["US"],"original_language":"en","original_title":"Frozen","overview":"Young
        princess Anna of Arendelle dreams about finding true love at her sister Elsa’s
        coronation. Fate takes her on a dangerous journey in an attempt to end the
        eternal winter that has fallen over the kingdom. She''s accompanied by ice
        delivery man Kristoff, his reindeer Sven, and snowman Olaf. On an adventure
        where she will find out what friendship, courage, family, and true love really
        means.","popularity":120.74,"poster_path":"/itAKcobTYGpYT8Phwjd8c9hleTo.jpg","production_companies":[{"id":2,"logo_path":"/wdrCwmRnLFJhEoH8GSfymY85KHT.png","name":"Walt
        Disney Pictures","origin_country":"US"},{"id":6125,"logo_path":"/tzsMJBJZINu7GHzrpYzpReWhh66.png","name":"Walt
        Disney Animation Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2013-11-20","revenue":1274219009,"runtime":102,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Only
        the act of true love will thaw a frozen heart.","title":"Frozen","video":false,"vote_average":7.248,"vote_count":16185,"credits":{"cast":[{"adult":false,"gender":1,"id":40462,"known_for_department":"Acting","name":"Kristen
        Bell","original_name":"Kristen Bell","popularity":29.765,"profile_path":"/rP74dJXl7EjinGM0shQtUOlH5s2.jpg","cast_id":5,"character":"Anna
        (voice)","credit_id":"52fe4ab7c3a36847f81dddcf","order":0},{"adult":false,"gender":1,"id":19394,"known_for_department":"Acting","name":"Idina
        Menzel","original_name":"Idina Menzel","popularity":13.282,"profile_path":"/dY4Uev9Z8DWEh2lAKrz7YyVNDQC.jpg","cast_id":6,"character":"Elsa
        (voice)","credit_id":"52fe4ab7c3a36847f81dddd3","order":1},{"adult":false,"gender":2,"id":221611,"known_for_department":"Acting","name":"Jonathan
        Groff","original_name":"Jonathan Groff","popularity":15.764,"profile_path":"/3kmnYKAzSc3Lp7iK5pcj97Hx9Cm.[...]
[...]
