---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891?api_key=<TMDB_API_KEY>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"5549061f02a025a24ee0a57a8da60dc8"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/ipyxbPJrLB1g9AfHq4xH5nLWmew.jpg","belongs_to_collection":{"id":404609,"name":"John
        Wick Collection","poster_path":"/xUidyvYFsbbuExifLkslpcd8SMc.jpg","backdrop_path":"/fSwYa5q2xRkBoOOjueLpkLf3N1m.jpg"},"budget":20000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"}],"homepage":"https://www.lionsgate.com/movies/john-wick","id":245891,"imdb_id":"tt2911666","origin_country":["US"],"original_language":"en","original_title":"John
        Wick","overview":"Ex-hitman John Wick comes out of retirement to track down
        the gangsters that took everything from him.","popularity":90.504,"poster_path":"/fZPSd91yGE9fCcCe6OoQr6E3Bev.jpg","production_companies":[{"id":23008,"logo_path":"/5SarYupipdiejsEqUkwu1SpYfru.png","name":"87Eleven","origin_country":"US"},{"id":36259,"logo_path":null,"name":"DefyNite
        Films","origin_country":"US"},{"id":36433,"logo_path":null,"name":"MJW Films","origin_country":"US"},{"id":3528,"logo_path":"/cCzCClIzIh81Fa79hpW5nXoUsHK.png","name":"Thunder
        Road","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2014-10-22","revenue":88761661,"runtime":101,"spoken_languages":[{"english_name":"Hungarian","iso_639_1":"hu","name":"Magyar"},{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"}],"status":"Released","tagline":"Don''t
        set him off.","title":"John Wick","video":false,"vote_average":7.431,"vote_count":18767,"credits":{"cast":[{"adult":false,"gender":2,"id":6384,"known_for_department":"Acting","name":"Keanu
        Reeves","original_name":"Keanu Reeves","popularity":120.81,"profile_path":"/4D0PpNI0kmP58hgrwGC3wCjxhnm.jpg","cast_id":6,"character":"John
        Wick","credit_id":"52fe4f0cc3a36847f82b9c41","order":0},{"adult":false,"gender":2,"id":6283,"known_for_department":"Acting","name":"Michael
        Nyqvist","original_name":"Michael Nyqvist","popularity":14.491,"profile_path":"/d9nGt8MloJwosRbGp10gaeHExcZ.jpg","cast_id":20,"character":"Viggo
        Tarasov","credit_id":"544b95150e0a2630f9000dc0","order":1},{"adult":false,"gender":2,"id":71586,"known_for_department":"Acting","name":"Alfie
        Allen","original_name":"Alfie Allen","popularity":18.39,"profile_path":"/7gPpG0TBMX20tPhWC8BT47x2lnh.j[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891/watch/providers?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 676d1fe19967916eed30c9107587851a
      X-Memc-Age:
      - '17006'
      X-Memc-Expires:
      - '6242'
      Etag:
      - W/"c92245b8499bf10d66b5e061e50a1432"
    body:
      encoding: UTF-8
      string: '{"id":245891,"results":{"AD":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AD","flatrate":[{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AE":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AE","flatrate":[{"logo_path":"/7qZED0kLBtiV8mLRNBtW4PQCAqW.jpg","provider_id":1715,"provider_name":"Shahid
        VIP","display_priority":16}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}],"buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}]},"AG":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AG","flatrate":[{"logo_path":"/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg","provider_id":8,"provider_name":"Netflix","display_priority":0},{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AO":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AO","flatrate":[{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AR":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AR","flatrate":[{"logo_path":"/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg","provider_id":8,"provider_name":"Netflix","display_priority":1},{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":2},{"logo_path":"/tRNA2CRgA4XHvd7Mx9dH3sFtDVb.jpg","provider_id":339,"provider_name":"MovistarTV","display_priority":8}],"ads":[{"logo_path":"/jwRPknT20dfU1GeVqbcDXFyvtdG.jpg","provider_id":457,"provider_name":"VIX
        ","display_priority":13}]},"AT":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AT","buy":[{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":3},{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":4},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8y[...]
[...]
