---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891/similar?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e0d37035b8a756c8b2af8edc5fdcc39b
      X-Memc-Age:
      - '8732'
      X-Memc-Expires:
      - '17660'
      Etag:
      - W/"3f1d6f87f13796a1a9c6f946b73cc0fa"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/lp8pxl0L0GPTPfLifhox83wFv5H.jpg","genre_ids":[18,53],"id":389301,"original_language":"en","original_title":"Madtown","overview":"A
        stand-up comedian confesses to a murder on-stage at an open mic night to a
        shocked audience - his crime the result of a deadly triangle formed between
        his older sister, just released from prison after a 20-year stay for the murder
        of their parents, the loving bond he now shares with a caring surrogate family,
        and the ultimate choice he must make between them - his dysfunctional blood
        ties with his own sister, or his picturesque view of the ideal family.","popularity":5.389,"poster_path":"/i5FctRgBTs0Dleo7VkwtZgoCEKX.jpg","release_date":"2016-03-31","title":"Madtown","video":false,"vote_average":5.7,"vote_count":24},{"adult":false,"backdrop_path":"/bmQsHhCOCWBWxhsi3jhd0qBf4C2.jpg","genre_ids":[80,35,53],"id":1021130,"original_language":"bn","original_title":"হুব্বা","overview":"The
        notorious Bimal Mandal, who ruled the Rishra-Hindmotor-Konnagar area for years,
        gets arrested by Dibakar Sen. However, he gets away due to lack of evidence.
        Soon, Dibakar and Hubba, seem to become alter egos of one another and morality
        gets blurred.","popularity":4.088,"poster_path":"/qfyNt7wMe[...]
