---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891/similar?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e0d37035b8a756c8b2af8edc5fdcc39b
      X-Memc-Age:
      - '6892'
      X-Memc-Expires:
      - '19302'
      Etag:
      - W/"4c03a2196f48f30d30c69c45ce0fb981"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/7jQf9wRUwXdi7Mgo2wPnnYw76GQ.jpg","genre_ids":[18,28,35,53],"id":11556,"original_language":"es","original_title":"Nicotina","overview":"A
        hacker who is spying on a pretty neighbour messes up his assignment to break
        into Swiss bank accounts for Russian mobsters.","popularity":11.81,"poster_path":"/Y5O3hU5DpH4Kz1wcPDumGjTkxb.jpg","release_date":"2003-10-03","title":"Nicotina","video":false,"vote_average":6.451,"vote_count":82},{"adult":false,"backdrop_path":"/25uFrOg2psCxLtzY4nDCMz9CIvC.jpg","genre_ids":[18,9648,53,80],"id":11560,"original_language":"en","original_title":"High
        Crimes","overview":"A female attorney learns that her husband is really a
        marine officer awol for fifteen years and accused of murdering fifteen civilians
        in El Salvador. Believing her husband when he tells her that he''s being framed
        as part of a U.S. Military cover-up, the attorney defends him in a military
[...]
