<div class="nav-container container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Home', root_path, style: 'pull-right' %>
    </ul>
  </nav>
</div>