---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - da14c0526e9ed3fa5ab3c5adbcd369c1
      X-Memc-Age:
      - '4384'
      X-Memc-Expires:
      - '18328'
      Etag:
      - W/"2b92b60354b98a5737047ba7b9be4fd4"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":120.189,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.705,"vote_count":26399},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
       [...]
