---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891/watch/providers?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 676d1fe19967916eed30c9107587851a
      X-Memc-Age:
      - '17006'
      X-Memc-Expires:
      - '6242'
      Etag:
      - W/"c92245b8499bf10d66b5e061e50a1432"
    body:
      encoding: UTF-8
      string: '{"id":245891,"results":{"AD":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AD","flatrate":[{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AE":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AE","flatrate":[{"logo_path":"/7qZED0kLBtiV8mLRNBtW4PQCAqW.jpg","provider_id":1715,"provider_name":"Shahid
        VIP","display_priority":16}],"rent":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}],"buy":[{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":1},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":3}]},"AG":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AG","flatrate":[{"logo_path":"/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg","provider_id":8,"provider_name":"Netflix","display_priority":0},{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AO":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AO","flatrate":[{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":1}]},"AR":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AR","flatrate":[{"logo_path":"/pbpMk2JmcoNnQwx5JGpXngfoWtp.jpg","provider_id":8,"provider_name":"Netflix","display_priority":1},{"logo_path":"/dQeAar5H991VYporEjUspolDarG.jpg","provider_id":119,"provider_name":"Amazon
        Prime Video","display_priority":2},{"logo_path":"/tRNA2CRgA4XHvd7Mx9dH3sFtDVb.jpg","provider_id":339,"provider_name":"MovistarTV","display_priority":8}],"ads":[{"logo_path":"/jwRPknT20dfU1GeVqbcDXFyvtdG.jpg","provider_id":457,"provider_name":"VIX
        ","display_priority":13}]},"AT":{"link":"https://www.themoviedb.org/movie/245891-john-wick/watch?locale=AT","buy":[{"logo_path":"/seGSXajazLMCKGB5hnRCidtjay1.jpg","provider_id":10,"provider_name":"Amazon
        Video","display_priority":3},{"logo_path":"/9ghgSC0MA082EL6HLCW3GalykFD.jpg","provider_id":2,"provider_name":"Apple
        TV","display_priority":4},{"logo_path":"/8z7rC8uIDaTM91X0ZfkRf04ydj2.jpg","provider_id":3,"provider_name":"Google
        Play Movies","display_priority":7},{"logo_path":"/bZvc9dXrXNly7cA0V4D9pR8y[...]
