---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=Frozen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7f1425ce752faf04c9a666582e323023
      X-Memc-Age:
      - '4316'
      X-Memc-Expires:
      - '19782'
      Etag:
      - W/"85b56673986fbc884da396e8179e4370"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rj58WQ9ImI0mYDptXdM7euX1Wjt.jpg","genre_ids":[16,10751,12,14],"id":109445,"original_language":"en","original_title":"Frozen","overview":"Young
        princess Anna of Arendelle dreams about finding true love at her sister Elsa’s
        coronation. Fate takes her on a dangerous journey in an attempt to end the
        eternal winter that has fallen over the kingdom. She''s accompanied by ice
        delivery man Kristoff, his reindeer Sven, and snowman Olaf. On an adventure
        where she will find out what friendship, courage, family, and true love really
        means.","popularity":116.615,"poster_path":"/itAKcobTYGpYT8Phwjd8c9hleTo.jpg","release_date":"2013-11-20","title":"Frozen","video":false,"vote_average":7.248,"vote_count":16186},{"adult":false,"backdrop_path":"/vD1yKObsRS2cvpmtuaCaMhr4zxe.jpg","genre_ids":[53],"id":44363,"original_language":"en","original_title":"Frozen","overview":"When
        three skiers find themselves stranded on a chair lift at a New England ski
        resort that has closed for the next week, they are forced to make life or
        death choices that prove to be more perilous than staying put and freezing
        to death.","popularity":18.375,"poster_path":"/2J3URUnDrIpNvh0uVqINQvr4HhW.[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - da14c0526e9ed3fa5ab3c5adbcd369c1
      X-Memc-Age:
      - '1899'
      X-Memc-Expires:
      - '23085'
      Etag:
      - W/"0886469923aec5e93fcf9c[...]
