---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/245891?api_key=<TMDB_API_KEY>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"0775b42edf040917bc127ea0840c5c27"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/ipyxbPJrLB1g9AfHq4xH5nLWmew.jpg","belongs_to_collection":{"id":404609,"name":"John
        Wick Collection","poster_path":"/xUidyvYFsbbuExifLkslpcd8SMc.jpg","backdrop_path":"/fSwYa5q2xRkBoOOjueLpkLf3N1m.jpg"},"budget":20000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"}],"homepage":"https://www.lionsgate.com/movies/john-wick","id":245891,"imdb_id":"tt2911666","origin_country":["US"],"original_language":"en","original_title":"John
        Wick","overview":"Ex-hitman John Wick comes out of retirement to track down
        the gangsters that took everything from him.","popularity":79.698,"poster_path":"/fZPSd91yGE9fCcCe6OoQr6E3Bev.jpg","production_companies":[{"id":23008,"logo_path":"/5SarYupipdiejsEqUkwu1SpYfru.png","name":"87Eleven","origin_country":"US"},{"id":36259,"logo_path":null,"name":"DefyNite
        Films","origin_country":"US"},{"id":36433,"logo_path":null,"name":"MJW Films","origin_country":"US"},{"id":3528,"logo_path":"/cCzCClIzIh81Fa79hpW5nXoUsHK.png","name":"Thunder
        Road","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2014-10-22","revenue":88761661,"runtime":101,"spoken_languages":[{"english_name":"Hungarian","iso_639_1":"hu","name":"Magyar"},{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"}],"status":"Released","tagline":"Don''t
        set him off.","title":"John Wick","video":false,"vote_average":7.432,"vote_count":18769,"credits":{"cast":[{"adult":false,"gender":2,"id":6384,"known_for_department":"Acting","name":"Keanu
        Reeves","original_name":"Keanu Reeves","popularity":108.243,"profile_path":"/4D0PpNI0kmP58hgrwGC3wCjxhnm.jpg","cast_id":6,"character":"John
        Wick","credit_id":"52fe4f0cc3a36847f82b9c41","order":0},{"adult":false,"gender":2,"id":6283,"known_for_department":"Acting","name":"Michael
        Nyqvist","original_name":"Michael Nyqvist","popularity":12.747,"profile_path":"/d9nGt8MloJwosRbGp10gaeHExcZ.jpg","cast_id":20,"character":"Viggo
        Tarasov","credit_id":"544b95150e0a2630f9000dc0","order":1},{"adult":false,"gender":2,"id":71586,"known_for_department":"Acting","name":"Alfie
        Allen","original_name":"Alfie Allen","popularity":17.517,"profile_path":"/7gPpG0TBMX20tPhWC8BT47x2lnh.[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/458156?api_key=<TMDB_API_KEY>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"60800922579a46c7418a0f3f4c938a03"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/vVpEOvdxVBP2aV166j5Xlvb5Cdc.jpg","belongs_to_collection":{"id":404609,"name":"John
        Wick Collection","poster_path":"/xUidyvYFsbbuExifLkslpcd8SMc.jpg","backdrop_path":"/fSwYa5q2xRkBoOOjueLpkLf3N1m.jpg"},"budget":55000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"},{"id":80,"name":"Crime"}],"homepage":"https://www.lionsgate.com/movies/john-wick-chapter-3-parabellum","id":458156,"imdb_id":"tt6146586","origin_country":["US"],"original_language":"en","original_title":"John
        Wick: Chapter 3 - Parabellum","overview":"Super-assassin John Wick returns
        with a $14 million price tag on his head and an army of bounty-hunting killers
        on his trail. After killing a member of the shadowy international assassin’s
        guild, the High Table, John Wick is excommunicado, but the world’s most ruthless
        hit men and women await his every turn.","popularity":104.047,"poster_path":"/ziEuG1essDuWuC5lpWUaw1uXY2O.jpg","production_companies":[{"id":3528,"logo_path":"/c[...]
[...]
