---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMDB_API_KEY>&query=John%20Wick
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9c480306ee1688842584615cbb1bb530
      X-Memc-Age:
      - '6282'
      X-Memc-Expires:
      - '19193'
      Etag:
      - W/"5faa24d77b71d7e6982f8d1fc5558172"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ipyxbPJrLB1g9AfHq4xH5nLWmew.jpg","genre_ids":[28,53],"id":245891,"original_language":"en","original_title":"John
        Wick","overview":"Ex-hitman John Wick comes out of retirement to track down
        the gangsters that took everything from him.","popularity":90.504,"poster_path":"/fZPSd91yGE9fCcCe6OoQr6E3Bev.jpg","release_date":"2014-10-22","title":"John
        Wick","video":false,"vote_average":7.432,"vote_count":18766},{"adult":false,"backdrop_path":"/7I6VUdPj6tQECNHdviJkUHD2u89.jpg","genre_ids":[28,53,80],"id":603692,"original_language":"en","original_title":"John
        Wick: Chapter 4","overview":"With the price on his head ever increasing, John
        Wick uncovers a path to defeating The High Table. But before he can earn his
        freedom, Wick must face off against a new enemy with powerful alliances across
        the globe and forces that turn old friends into foes.","popularity":252.838,"poster_path":"/vZloFAK7NmvMGKE7VkF5UHaz0I.jpg","release_date":"2023-03-22","title":"John
        Wick: Chapter 4","video":false,"vote_average":7.741,"vote_count":6045},{"[...]
